@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Weather data from API with Downstream API Helper</h2>
    <p>@Html.Raw(Model.WeatherDataWithHelperClass)</p>
</div>

<div>
    <h2>Weather data without helper class</h2>
    <p>@Html.Raw(Model.WeatherDataWithoutHelperClass)</p>
</div>
